#{extends 'main.html' /}
#{set title:'Signup' /}
#{welcomemenu id:"signup"/}

<div class="ui two column grid basic middle aligned segment">
  <div class="column">
    <form class="ui stacked segment form" action="/register" method="POST">
      <h3 class="ui header">Register</h3>
      <div class="two fields">
        <div class="required field">
          <label>First Name</label>
          <input placeholder="First Name" type="text" name="firstname" required>
        </div>
        <div class="required field">
          <label>Last Name</label>
          <input placeholder="Last Name" type="text" name="lastname" requred>
        </div>
      </div>
      <div class="required field">
        <label>Email</label>
        <input placeholder="Email" type="email" name="email" required>
      </div>
      <div class="required field">
        <label>Password</label>
        <input placeholder="Password" type="text" name="password" required>
      </div>
      <div class="field">
        <label>Address</label>
        <input placeholder="Address" type="text" name="address">
      </div>
      <div class="field">
        <label>Gender</label>
        <select name="gender">
          <option name="gender" value="unspecified"> Unspecified</option><br>
          <option name="gender" value="male">Male</option><br>
          <option name="gender" value="female">Female</option><br>
        </select>
      </div>
      <div class="two fields">
        <div class="required field">
          <label>Height</label>
          <input placeholder="Height" type="number" step=".01" min="1" max="3" name="height" required>
        </div>
        <div class="required field">
          <label>Starting Weight</label>
          <input placeholder="Current Weight" type="number" step=".01" min="35" max="250" name="startingWeight" required>
        </div>
      </div>
      <button class="ui blue submit button">Submit</button>
    </form>
  </div>
  <div class="column">
    <img class="ui image" src="/public/images/snorlax.png">
  </div>
</div>
        