#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}

<section class="ui two column middle aligned grid basic segment">
  <div class="ui column middle aligned segment">
    <div class="column">

      <img class="ui image" src="/public/images/hitmon_lee_chan_style.jpg">
    </div>
  </div>
  <div class="column">
    <h1 class="red-text"> The Poke-Gym</h1>
    <p class="text-center">Welcome to the Poke-Gym App. We hope you enjoy your time here, and get to your ideal weight</p>
  </div>
</section>