#{extends 'main.html' /}
#{set title:'Trainer About' /}

#{trainerwelcomemenu id:"trainerstart"/}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">This is the secret trainer menu</h1>
  <p> You have to log in before you can perform any actions as a trainer.</p>
  <p>
    <div class="ui two column right aligned grid basic segment">
      <div class="column">
        <img class="ui image" src="/public/images/karate_grapple.png">
      </div>
      <div class="column">
        <img class="ui image" src="/public/images/hitmonchan.png">
      </div>
    </div>
  </p>
</section>
