#{extends 'main.html' /}
#{set title:'Trainer Dashboard' /}

#{trainermenu id:"trainerdashboard"/}

<section class="ui raised segment">
  <header class="ui header">
                ${trainer.firstname} ${trainer.lastname}'s Members
  </header>
</section>

<table class="ui fixed table">
  <tbody>
    <div class="ui bulleted list">
      #{list items: memberlist, as:'member'} <!--supposed to get the stuff from EVERY member in a list order.-->
        <tr>
          <td>
            <div class="column">
                <p class="ui wechat icon">
                    <a href="/trainer/dashboard/${trainer.id}/viewmember/${member.id}"><h3><i class="ui blue wechat icon"></i>${member.firstname}
                ${member.lastname}</h3></a></p>
                <p>${member.assessmentlist.size()} assessments</p>
            </div>
          </td>

          <td>
            <div class="column right aligned">
              <a href="/trainer/dashboard/${trainer.id}/deletetmember/${member.id}" class="ui red
               icon button"><i class="icon trash"></i></a>
            </div>
          </td>
       #{/list}
    </div>
  </tbody>
</table>



<!--   #{mainpanel/}
-->
